 body{
  box-sizing: border-box;
}
 
*, button, input {
  font-family: 'Roboto', sans-serif;
}

.gradient {
  background-image: linear-gradient(to right, #FF95D9,#FEAE81, #FDC921);
  
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;

  
  color: black;

}


@media screen and (max-width: 576px) {

  
  
}

